#toprect{

    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #d23131;
}

#logorect1{

    position: absolute;
    width: 200px;
    height: 200px;
    left: 43px;
    top: 90px;
    border-radius: 20px;

background: #d23131;
}



input#log{
    position: absolute;
    top: 100px;
    height: 40px;
    width : 200px;
    left: 85%;
    font-size: larger;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 1px solid #111;
    font-family: fantasy;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

input#log:hover{
    background-color: #851e1e;
    color: white;
    font-family: fantasy;
    border: 1px solid #111;
}

#logo{

    position: absolute;
    border-radius: 20px;
    left: 57px;
    top: 72px;
}

#text1{
    position: absolute;
width: 771px;
height: 83px;
left: 233px;
top: 40px;

font-family: fantasy;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;

color: #FFFFFF;
}

#text2{
    position: absolute;
width: 771px;
height: 83px;
left: 233px;
top: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #ffffff;
}
#background{
    position: absolute;
    width:  100%;
    height: 100%;
    left: 0px;
    top: 150px;
}



#body1{
    left: 15%;
    position: absolute;
    width: 70%;
    height: 650px;
    top: 300px;
    
    
    background: #FFFFFF;
}

#body_bar{
    background: #d23131;
    left: 15%;
    position: absolute;
    width: 70%;
    height: 50px;
    top: 300px;
}

#dropdown{
    position: absolute;
    background-color: white;
    color: black;
    left: 67%;
    top: 300px;
    margin-top: 10px;
    width: 15%;
    height: 30px;
    font-size: larger;
    font-family: fantasy;
    border-radius: 15px;
}

#dropdown:hover{
    background-color: #851e1e;
    color: white;
}

.dropdown_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

#dropdown:hover .dropdown_list{
    display: block;
}

#info{
    position: absolute;
    color: #d23131;
    font-size: large;
    font-style: italic;
    left:15%;
    width: 70%;
    top: 350px;
}

#photo{
    position: absolute;
    left: 62%;
    top: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#text{
    position: absolute;
    left: 20%;
    width: 40%;
    top: 400px;
}